@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
a,
li,
ul,
button,
h1,
h2,
h3,
span,
p {
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-play {
  background-image: linear-gradient(to right, #0f1923 50%, #ff4655 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.btn-watch {
  background-image: linear-gradient(to right, #ff4655 50%, #0f1923 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
button {
  outline: none;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #fff0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
