@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url(/styles/MenuMobile.css);
@import url(/styles/nav.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #0f1923;
}

::-webkit-scrollbar {
  height: 10px;
  width: 100%;
  background-color: #14273b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #acacbe;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li,
a,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#start {
  margin-bottom: 8%;
}

.nav {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 25px;
  padding-top: 15px;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container-cards {
  display: flex;
  gap: 20px;
}

.container-setas {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
  margin-left: 25%;
  margin-top: 5px;
}

.container-setas img {
  width: 40px;
}

.info-agentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.container-imagemAgente {
  margin-bottom: 5%;
}

.btn-information a {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: bold;
}

.title-agentes {
  font-family: "Lato", sans-serif;
  color: #fff;
  margin-bottom: 2%;
}

.btn-information {
  border: none;
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #ff4655;
  width: 25%;
  padding: 5px;
  border-radius: 1px;
  font-weight: bold;
}

.span-name {
  font-family: "Lato", sans-serif;
  color: #fff;
  margin-bottom: 5%;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  background: #111111;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 12px;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
}

.creditos {
  margin-left: 5%;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 15px;
  margin-right: 5%;
}

#slide-wrapper {
  padding-bottom: 5%;
  background: #0f1923;
  padding-top: 5%;
}

#slide {
  display: flex;
  margin: 0 20px;
  overflow-x: auto;
}

.hover-nav {
  padding: 10px;
  border-radius: 5px;
}

.hover-nav:hover {
  background: #333333;
  padding: 10px;
}

.card-agentes {
  width: 60vw;
  flex-shrink: 0;
  max-width: 600px;
  margin: 0 20px;
  margin-top: 25px;
  border-radius: 3px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.card-agentes img {
  height: 300px;
}

.container-imagemAgente {
  display: flex;
  justify-content: center;
}

.creditos a {
  color: #fff;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

#title-agente {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
}

@media (min-width: 1500px) {
  body {
    height: 100vh;
  }

  #container-agentes {
    width: 57%;
  }

  li a {
    font-size: 1.1rem;
  }

  .span-name {
    font-size: 1.2rem;
  }

  .creditos {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .nav {
    margin-bottom: 5px;
  }

  .container-btn {
    display: flex;
    justify-content: center;
  }

  .janela-sessao {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .logins-riot {
    display: flex;
    flex-direction: column;
  }

  .btn-login,
  .btn-criarConta {
    margin-bottom: 0;
  }

  .criar-conta,
  .fazer-login {
    justify-content: center;
    align-items: center;
  }

  .btn-login {
    margin-bottom: 5%;
  }

  .title {
    margin-top: 5%;
  }

  #container-cards {
    margin-bottom: 15px;
  }

  .card-agentes img {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .container-li {
    width: 240px;
  }

  .btn-information {
    width: 50%;
  }
}

.slideCards.active {
  animation: show-down 0.5s ease-in-out;
}

.nav.active {
  animation: show-right 0.5s ease-in-out;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-120px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-120, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -120px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
