body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li,
a,
ul {
    text-decoration: none;
    list-style: none;

}

.header {
    background: #111111;


}

.h2-abilitie {
    margin-bottom: 5%;
}

.header a {
    font-family: 'Lato', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 5px;
}

.header img {
    width: 25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    background: #111111;
    align-items: center;
    padding: 10px;
}

.creditos {
    margin-left: 5%;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.socials {
    display: flex;
    gap: 15px;
    margin-right: 5%;

}

.container-iniciarSessao {
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    color: #fff;
    display: flex;
    font-family: 'Lato', sans-serif;
    transform: translateX(-125%);
    transition: all 0.5s ease;

}

.janela-sessao {
    display: flex;
    flex-direction: column;
    background: #0F1923;
    width: 60%;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    position: absolute;

}



.btn-closeLogin {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 5px;

}


.container-iniciarSessao.active {

    transform: translateX(0);
}

.title {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    position: relative;
}



.logins-riot {
    display: flex;
    gap: 25px;
    justify-content: center;

}



.criar-conta {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fazer-login {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.btn-login,
.btn-criarConta {
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15%;

}



.fazer-login span,
.criar-conta span {
    margin-bottom: 25px;
    font-weight: bold;
}

.btn-login {
    font-weight: bold;
    background: #FF4655;
}


.btn-criarConta {
    background: #fff;
    color: #000000;
    font-weight: bold;

}

.container-agentes {
    display: flex;
    justify-content: center;
    align-items: end;
}

.biografia-title {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;

}

.função {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;

}

.info-agentes {
    display: flex;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
}

.abilities-agentes {
    margin-left: 5%;
}

.title-div {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    padding-left: 15%;
    margin-bottom: 8%;

}

.roles-div {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 5%;
    gap: 15px;
}

.abilities-title {
    margin-bottom: 15px;
}



#role {
    font-size: 1.8rem;
}

.biografy-div {
    margin-bottom: 10%;

}

#icons-abilities {
    display: flex;
    margin-bottom: 5%;
    gap: 20px;


}

#icons-abilities img {
    width: 72px;
    padding: 10px;
    border: 1px solid #8d8989;

}

#imagem-left {
    width: 50%;
}

.container-agentesJs {
    color: #fff;
    font-family: 'Lato', sans-serif;
    background-color: #0F1923;
    padding-top: 15px;
}

.biografia-agente {
    display: flex;
    flex-direction: column;
    padding-top: 2%;

}

.container-abilities {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10%;

}

#abilities-title {
    margin-bottom: 5%;
}

#p-aboutAbilitie {
    width: 40%;
}

.creditos a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

@media(max-width:525px) {
    .info-agentes {
        flex-direction: column;

    }

    .footer {
        position: fixed;
    }

    .container-abilities {
        margin: 0;
    }

    .abilities-title {
        padding-top: 15px;
        text-align: center;
    }

    #p-aboutAbilitie {
        width: 100%;
        margin-bottom: 10%;
    }

    #name-agente {
        margin-bottom: 10%;
    }

    #imagem-left {
        width: 90%;
    }

    .imagem-loadAgente {
        display: flex;
        margin-bottom: 10%;
        align-items: center;
        flex-direction: column;
    }

    .title-div {
        text-align: center;
        padding-left: 0;
    }

    #biografia {
        font-size: 1.2rem;
    }

    .h2-abilitie {
        text-align: center;
    }
}