@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.container-iniciarSessao {
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  color: #fff;
  display: flex;
  font-family: "Lato", sans-serif;
  transform: translateX(-125%);
}

.container-iniciarSessao.active {
  transform: translateX(0);
}

.container-iniciarSessao.effect {
  transition: all 0.5s ease;
}

.janela-sessao {
  display: flex;
  flex-direction: column;
  background: #0f1923;
  width: 60%;
  border-radius: 5px;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 15px;
  position: relative;
}

.btn-closeLogin {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.title {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.logins-riot {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.criar-conta {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fazer-login {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-login,
.btn-criarConta {
  outline: none;
  border: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15%;
}

.fazer-login span,
.criar-conta span {
  margin-bottom: 25px;
  font-weight: bold;
}

.btn-login {
  font-weight: bold;
  background: #ff4655;
}

.btn-criarConta {
  background: #fff;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container-btn {
    display: flex;
    justify-content: center;
  }

  .janela-sessao {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .logins-riot {
    display: flex;
    flex-direction: column;
  }

  .btn-login,
  .btn-criarConta {
    margin-bottom: 0;
  }

  .criar-conta,
  .fazer-login {
    justify-content: center;
    align-items: center;
  }

  .btn-login {
    margin-bottom: 5%;
  }

  .title {
    margin-top: 5%;
    margin-bottom: 15%;
  }
}
